@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
* {
  font-family: "Shadows Into Light Two", cursive;
}
body {
  margin: 0;
  padding: 0;
}

.container-sm {
  max-width: 1000px !important;
  margin: 0 auto;
}

.btn-secondary {
  padding: 5px;
  align-self: center;
}
