.hero {
  height: 700px;
  width: 100%;
  margin-bottom: 4em;
}

/* hero section */

.hero-grid-container {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  margin: 0 auto;
  align-self: center;
  align-content: center;
  height: 100%;
}

@media (max-width: 900px) {
  .hero-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.heading {
  font-size: 3.8em;
}
.subheading {
  font-size: 2.5em !important;
}

.left .heading {
  margin-top: 0em;
  margin-bottom: 0em;
}

.left .subheading {
  margin: 0;
  padding: 0;
}
.left .description {
  margin-bottom: 2.5em;
}

.cta-btns-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.cta-btns-container .btn-primary {
  padding: 1em 1.9em 1em 1.9em;
}
.cta-btns-container .btn-secondary-outline {
  padding: 0.9em 1.9em 0.9em 1.9em;
}
@media (max-width: 900px) {
  .cta-btns-container {
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    gap: 10px;
  }
}

.img-grid-container {
  display: grid;
  grid-template-areas:
    "item1  item1 item3 item3"
    "item1  item1 item3 item3"
    "item2  item2 item3 item3 "
    "item2  item2 item3 item3";
}

.comic-img {
  height: 150px;
}
.comic-feature {
  font-weight: bold;
  font-size: 1.5em;
}
.img-3 {
  height: 300px;
  max-width: 100%;
}

.grid-item-1 {
  grid-area: item1;
}
.img-linear-gradient {
  height: 200px;

  display: block;

  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 0.01%,
      rgba(255, 255, 255, 0.441) 0.01%,
      rgba(249, 250, 252, 0.9) 61.55%,
      rgba(1, 92, 247, 0.9) 61.56%,
      rgba(0, 91, 248, 0.9) 61.57%,
      rgba(7, 8, 9, 0.9) 61.57%,
      rgba(255, 255, 255, 0.9) 61.58%
    ),
    url("../images/comicstrip_math.png");
}
.grid-item-2 {
  grid-area: item2;
}
.grid-item-3 {
  grid-area: item3;
}
@media (max-width: 900px) {
  .img-grid-container {
    display: none;
  }
}

/* comic strip section */

.comic-strip-container {
  padding-top: 2em;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}
.comic-strip-grid-item {
  grid-column: 2/4;
}

.comic-strip-btn-container {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}
.comic-strip-btn-container .btn-primary,
.comic-strip-btn-container .btn-secondary-outline {
  padding: 0.5em 1.9em 0.5em 1.9em;
}
@media (max-width: 900px) {
  .comic-strip-btn-container .btn-primary,
  .comic-strip-btn-container .btn-secondary-outline {
    margin-left: 10px;
  }
}

.loading-animation-container {
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
}

.left-arrow,
.right-arrow {
  align-self: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .left-arrow {
    transform: translateX(70%);
  }
}
